@import "tailwindcss";

@theme {
  --font-handlee: "Handlee", "sans-serif";

  --text-hero-title: clamp(36px, 4vw, 64px);
  --text-hero-inner-title: clamp(28px, 4vw, 56px);
  --text-hero-subtitle: clamp(16px, 3vw, 22px);

  --text-subtitle: clamp(32px, 3vw, 44px);

  --color-cs-black: #0f172a;
  --color-cs-primary: #f43e71;
  --color-cs-primary-hover: #ff608d;
  --color-cs-background: #f5f5f5;
}

@utility content-hidden {
  content-visibility: hidden;
}

@utility content-visible {
  content-visibility: visible;
}

body {
  cursor: url("/imgs/arrow-cursor-outline.svg"), auto;
}

a,
summary,
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"],
label,
select {
  cursor: url("/imgs/hand-pointer.svg"), pointer;
}

.fade-in-up {
  --stagger: 0;
  --delay: 120ms;

  opacity: 0;
  animation: fadeInUp 0.6s both;
  animation-delay: calc(var(--stagger) * var(--delay));
}

.fade-in {
  --stagger: 0;
  --delay: 120ms;

  animation: fadeIn 0.6s both;
  animation-delay: calc(var(--stagger) * var(--delay));
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.95;
  }

  100% {
    opacity: 1;
    scale: 1;
  }
}

@font-face {
  font-family: "Handlee";
  src: url("/fonts/Handlee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
