@import "tailwindcss";

@theme {
  --font-handlee: "Handlee", "sans-serif";

  --text-hero-title: clamp(36px, 4vw, 64px);
  --text-hero-subtitle: clamp(16px, 3vw, 22px);

  --color-cs-primary: #f43e71;
  --color-cs-primary-hover: #ff608d;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-up {
  animation: fadeInUp 0.5s forwards;
  opacity: 0;
}

@font-face {
  font-family: "Handlee";
  src: url("/fonts/Handlee-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
