---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/Navbar/Navbar.astro";
import Footer from "../components/Footer.astro";
import Link from "@/components/common/Link.astro";
---

<Layout>
  <Navbar />
  <main
    class="w-full max-w-4xl mx-auto text-cs-black min-h-screen gap-4 lg:mt-2 mb-6 flex flex-col items-center px-4"
  >
    <h1 class="text-4xl font-extrabold text-center">404 - P치gina no encontrada</h1>
    <img
      src="/svgs/404.svg"
      alt="P치gina no encontrada"
      class=" h-auto mb-4"
    />
    <p class="text-lg">Lo sentimos, la p치gina que est치s buscando no existe.</p>
    <Link href="/" variant="primary" target="_self">Volver a Inicio</Link>
    <Footer />
  </main>
</Layout>
<script>
  if (window.history.replaceState) {
    const urlWithoutHash = window.location.pathname + window.location.search;
    window.history.replaceState(null, '', urlWithoutHash);
  }
</script>