---
const links = [
  {
    href: "/",
    label: "Inicio",
  },
  {
    href: "#info",
    label: "Info",
  },
  {
    href: "#speakers",
    label: "Charlas",
  },
  {
    href: "#ticket",
    label: "Ticket",
  },
  {
    href: "#faq",
    label: "FAQ",
  },
];

interface Props {
  class?: string;
  childClass?: string;
}

const { class: classname, childClass, ...props } = Astro.props as Props;
---

<nav class={classname} {...props}>
  <ul class={childClass}>
    {
      links.map(({ href, label }) => (
        <li>
          <a href={href} class="font-medium">
            {label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>

<script>
  console.log(window.location.href);
</script>
