---
import Twitch from "@assets/icons/twitch.svg";

interface Props {
  class?: string;
}

const { class: classname } = Astro.props as Props;
---

<div class:list={["user", classname]}>
  <div class="login-buttons flex gap-2">
    <button
      class="login-twitch bg-[#9146FF] text-white border border-transparent rounded-md px-4 py-2 text-sm font-medium hover:bg-[#7a3be0] focus:outline-none focus:ring-2 focus:ring-[#9146FF] cursor-pointer flex items-center justify-center gap-2"
      type="button"
    >
      <Twitch class="pointer-events-none" width={24} height={24} />
      <span class="pointer-events-none">Iniciar sesión</span>
    </button>
  </div>
</div>

<script>
  import { supabase } from "@lib/supabase";

  const $userContainers = document.querySelectorAll(
    ".user"
  ) as NodeListOf<HTMLDivElement>;
  const $loginButtonsContainers = document.querySelectorAll(".login-buttons");
  const $loginTwitchButtons = document.querySelectorAll(
    ".login-twitch"
  ) as NodeListOf<HTMLButtonElement>;

  async function loginWithTwitch() {
    await supabase.auth.signInWithOAuth({ provider: "twitch" });
  }

  $loginTwitchButtons.forEach((button) => {
    button.addEventListener("click", loginWithTwitch);
  });

  async function logout() {
    await supabase.auth.signOut();
    window.location.reload();
  }

  const {
    data: { session },
  } = await supabase.auth.getSession();

  if (session?.user) {
    $loginButtonsContainers.forEach((container) => container.remove());

    const user = session.user;
    const { avatar_url, preferred_username, full_name, name } =
      user.user_metadata;

    const username = (
      preferred_username ||
      full_name ||
      name ||
      "usuario"
    ).trim();

    const userTemplate = `
      <div class="flex items-center gap-2">
        <img
          class="rounded-full aspect-square"
          width="48"
          height="48"
          src="${avatar_url}"
          alt="Imagen de perfil de @${username}"
          decoding="async"
          fetchpriority="high"
        />
        <div class="flex flex-col">
          <span class="font-semibold">@${username}</span>
          <button class="logout text-cs-primary hover:underline text-sm text-left" type="button">
            Cerrar sesión
          </button>
        </div>
      </div>
    `;

    $userContainers.forEach((userContainer) => {
      userContainer.insertAdjacentHTML("beforeend", userTemplate);
      userContainer.querySelector(".logout")?.addEventListener("click", logout);
    });

    await supabase.from("users").upsert({
      id: user.id,
      username: username,
      name: username,
      avatar_url,
    });
  }
</script>
