---
import Discord from "@assets/icons/discord.svg";

interface Props {
  class?: string;
}

const { class: classname } = Astro.props as Props;
---

<button
  id="login-btn"
  class:list={
    ["bg-white border border-gray-300 rounded-md px-6 py-2 text-sm font-medium text-gray-800 hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-500 cursor-pointer", classname]
  }
>
  <Discord class="pointer-events-none" width={24} height={24} />
  <span class="pointer-events-none">Iniciar sesión</span>
</button>
<div id="user-info" class="items-center gap-2 leading-4 hidden"></div>

<script>
  import { supabase } from "../../lib/supabase";

  const $loginBtn = document.getElementById("login-btn");
  const $userDiv = document.getElementById("user-info");

  async function loginWithDiscord() {
    await supabase.auth.signInWithOAuth({ provider: "discord" });
  }

  async function logout() {
    await supabase.auth.signOut();
    window.location.reload();
  }

  $loginBtn?.addEventListener("click", loginWithDiscord);

  async function checkSession() {
    const {
      data: { session },
    } = await supabase.auth.getSession();

    if (session?.user) {
      const user = session.user;
      const { name, avatar_url, custom_claims } = user.user_metadata;

      const displayName = custom_claims.global_name;
      const username = name.split("#")[0];

      $userDiv?.classList.remove("hidden");
      $userDiv?.classList.add("flex");

      if ($userDiv) {
        $userDiv.innerHTML = `
          <img src="${avatar_url}" alt="avatar" class="w-12 h-12 rounded-full" />
          <div class="flex flex-col">
            <span class="font-semibold">${displayName}</span>
            <span class="text-xs text-gray-500">${username}</span>
            <button
              id="logout-btn"
              class="text-cs-primary hover:underline cursor-pointer text-sm flex"
            >
              Cerrar sesión
            </button>
          </div>
        `;
      }

      $loginBtn?.remove();

      const $logoutBtn = document.getElementById("logout-btn");
      $logoutBtn?.addEventListener("click", logout);

      await supabase.from("users").upsert({
        id: user.id,
        username: name,
        avatar_url,
      });
    }
  }

  checkSession();
</script>
