---
import Links from "./Links.astro";
import Login from "./Login.astro";
---

<section class="py-7">
  <div class="container mx-auto px-4 flex justify-between items-center">
    <a href="/" class="font-handlee text-3xl">Aforshow</a>

    <Links class="hidden xl:block" />

    <Login />
  </div>
</section>
