---
import { contributors } from "../lib/contributors";
---

<footer class="w-full flex font-medium items-center justify-between">
  <section class="flex flex-col gap-2">
    <a href="/" class="font-handlee text-3xl">Aforshow</a>
    <div class="flex mb-2 gap-1">
      <p>
        Desarrollado por <a
          href="https://discord.com/invite/comuafor"
          target="_blank"
          rel="noopener noreferrer"
          class="relative after:absolute after:-bottom-1 after:left-1/2 after:h-[2px] after:w-0 after:bg-black after:transition-all after:duration-300 hover:after:left-0 hover:after:w-full"
          >Comuafor</a
        >
      </p>
      <img
        src="/imgs/heart.webp"
        alt="heart decoration icon"
        aria-hidden="true"
        class="w-[22px] h-7"
      />
    </div>
  </section>
  <section class="flex flex-col items-center gap-2">
    <div class="flex gap-2">
      {
        contributors
          .filter((_, index) => {
            return index < 4;
          })
          .map((contributor) => {
            return (
              <a
                href={contributor.github_url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src={contributor.img}
                  alt="Contributor afor"
                  class="w-12 h-12"
                />
              </a>
            );
          })
      }
    </div>
    <div class="flex gap-2">
      {
        contributors
          .filter((_, index) => {
            return index >= 4 && index < 8;
          })
          .map((contributor) => {
            return (
              <a
                href={contributor.github_url}
                target="_blank"
                rel="noopener noreferrer"
              >
                <img
                  src={contributor.img}
                  alt="Contributor afor"
                  class="w-12 h-12"
                />
              </a>
            );
          })
      }
    </div>
  </section>
</footer>
