<footer class="w-full flex font-medium items-center justify-between">
  <a href="/" class="font-handlee text-3xl">Aforshow</a>
  <div class="flex flex-col items-end gap-2">
    <p>Diseño inspirado en el estilo visual de Notion</p>
    <div class="flex mb-2 gap-1">
      <p>
        Desarrollado por <a
          href="https://discord.com/invite/comuafor"
          target="_blank"
          rel="noopener noreferrer"
          class="underline underline-offset-4">Comuafor</a
        >
      </p>
      <img
        src="/imgs/heart.webp"
        alt="heart decoration icon"
        aria-hidden="true"
        class="w-[22px] h-7"
      />
    </div>
  </div>
</footer>
