---
import Link from "./common/Link.astro";
---

<header class="flex flex-col gap-6 items-center">
  <hgroup class="flex flex-col items-center gap-4">
    <h1 class="text-hero-title text-center">Comparte, aprende, inspira</h1>
    <p class="text-center font-semibold text-hero-subtitle leading-[32px]">
      Transforma ideas en conocimiento <br /> en el mayor evento de charlas sobre
      programación web
    </p>
  </hgroup>

  <footer class="flex gap-2 items-center">
    <Link href="/tickets" variant="primary">¡Inscríbete ahora!</Link>
    <Link
      href="https://youtu.be/LR3OpzyCQWM?si=_RulGhyygToeFNFs"
      variant="secondary">Ver charlas pasadas</Link
    >
  </footer>

  <main class="relative w-full h-[350px] pointer-events-none">
    <img
      src="/imgs/Hero.webp"
      alt="hero"
      class="absolute w-auto h-[350px] z-0 right-0 bottom-0"
    />
  </main>
</header>
