---
type Props = {
  img: string;
  title: string;
};

const { img, title } = Astro.props;
---

<li
  id="info"
  class="w-full flex flex-col items-center p-4 justify-center h-[120px] bg-cs-background rounded-md gap-1"
>
  <img
    width="64"
    height="64"
    src={img}
    aria-hidden="true"
    alt={title}
    class="object-cover"
    loading="lazy"
    decoding="async"
    fetchpriority="low"
  />
  <h2 class="text-center font-semibold whitespace-nowrap">{title}</h2>
</li>
