---
import Info from "./Info.astro";
import { infoCards } from "../lib/info";
---

<section class="flex items-center flex-col gap-6">
  <h1 class="text-subtitle font-bold text-center leading-9">Comparte conocimiento</h1>
  <ul class="grid grid-cols-2 gap-4 w-full md:flex md:justify-center">
    {
      infoCards.map((infoCard) => {
        return <Info title={infoCard.title} img={infoCard.img} />;
      })
    }
  </ul>
</section>
