---
import { talks } from "../lib/talks";
import Talk from "./common/Talk.astro";
---

<section id="speakers" class="w-full flex flex-col items-center">
  <header class="w-full flex items-baseline justify-center">
    <img
      src="/imgs/Talks.webp"
      aria-hidden="true"
      class="w-[140px] h-[140px] translate-y-7"
    />
    <h1 class="text-subtitle font-bold -translate-x-2">Charlas y talleres</h1>
  </header>
  <ul class="flex flex-col w-full gap-4">
    {
      talks.map((talk) => (
        <>
          <Talk
            title={talk.title || ""}
            img={talk.img || ""}
            author={talk.author || ""}
            hour={talk.hour}
          />
          {talk.hasBreak && (
            <li class="w-full flex justify-center font-handlee">
              30 min descanso
            </li>
          )}
        </>
      ))
    }
  </ul>
</section>
