---
import { talks } from "../lib/talks";
import Talk from "./common/Talk.astro";
---

<section id="speakers" class="w-full flex flex-col items-center">
  <header class="flex items-center justify-center gap-4 w-fit mx-auto">
    <div>
      <img
        width="80"
        height="80"
        src="/svgs/Talks.svg"
        aria-hidden="true"
        loading="lazy"
        decoding="async"
        fetchpriority="low"
      />
    </div>
    <h1 class="text-subtitle font-bold max-w-36 md:max-w-full leading-9">Charlas y talleres</h1>
  </header>
  <ul class="flex flex-col w-full gap-6">
    {
      talks.map((talk) => (
        <>
          <Talk
            title={talk.title || ""}
            img={talk.img || ""}
            author={talk.author || ""}
            hour={talk.hour}
          />
          {talk.hasBreak && (
            <li class="w-full flex justify-center font-handlee">
              30 min descanso
            </li>
          )}
        </>
      ))
    }
  </ul>
</section>
