---
import "../styles/tailwind.css";
import "atropos/css";
import Aptabase from "../components/Aptabase.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>Aforshow 2025</title>
  </head>
  <body class="font-inter">
    <slot />
  </body>
  <Aptabase/>
</html>

<style>
  html,
  body {
    display: flex;
    flex-direction: column;
    gap: 80px;
    scroll-behavior: smooth;
  }
</style>
